<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TestJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.TestServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UserLoginServlet</servlet-class>
    <init-param>
      <param-name>loginScore</param-name>
      <param-value>2</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegisterServlet</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UserRegisterServlet</servlet-class>
    <init-param>
      <param-name>registerScore</param-name>
      <param-value>20</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogoutServlet</display-name>
    <servlet-name>UserLogoutServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UserLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogoutServlet</servlet-name>
    <url-pattern>/UserLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserQueryServlet</display-name>
    <servlet-name>UserQueryServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UserQueryServlet</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserQueryServlet</servlet-name>
    <url-pattern>/UserQueryServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>charSet</param-name>
    <param-value>utf-8</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>UserDeleteServlet</display-name>
    <servlet-name>UserDeleteServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteServlet</servlet-name>
    <url-pattern>/UserDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDeleteBatchServlet</display-name>
    <servlet-name>UserDeleteBatchServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UserDeleteBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDeleteBatchServlet</servlet-name>
    <url-pattern>/UserDeleteBatchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdateServlet_Self</display-name>
    <servlet-name>UserUpdateServlet_Self</servlet-name>
    <servlet-class>com.neuedu.servlet.UserUpdateServlet_Self</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet_Self</servlet-name>
    <url-pattern>/UserUpdateServlet_Self</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValCodeServlet</display-name>
    <servlet-name>ValCodeServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.ValCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValCodeServlet</servlet-name>
    <url-pattern>/ValCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestAjaxServlet</display-name>
    <servlet-name>TestAjaxServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.TestAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestAjaxServlet</servlet-name>
    <url-pattern>/TestAjaxServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsernameServlet</display-name>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.CheckUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <url-pattern>/CheckUsernameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookListServlet</display-name>
    <servlet-name>BookListServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.BookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookListServlet</servlet-name>
    <url-pattern>/BookListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckValCodeServlet</display-name>
    <servlet-name>CheckValCodeServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.CheckValCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckValCodeServlet</servlet-name>
    <url-pattern>/CheckValCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadSingleServlet</display-name>
    <servlet-name>UploadSingleServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UploadSingleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadSingleServlet</servlet-name>
    <url-pattern>/UploadSingleServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>fileType</param-name>
    <param-value>jpg,gif</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>UploalMultiServlet</display-name>
    <servlet-name>UploalMultiServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.UploalMultiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploalMultiServlet</servlet-name>
    <url-pattern>/UploalMultiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsTypeQueryServlet</display-name>
    <servlet-name>NewsTypeQueryServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.NewsTypeQueryServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsTypeQueryServlet</servlet-name>
    <url-pattern>/NewsTypeQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsAddServlet</display-name>
    <servlet-name>NewsAddServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.NewsAddServlet</servlet-class>
    <init-param>
      <param-name>addNewsScore</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>maxFileSize</param-name>
      <param-value>4</param-value>
    </init-param>
    <init-param>
      <param-name>deniedFileList</param-name>
      <param-value>exe,bat,js</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsAddServlet</servlet-name>
    <url-pattern>/NewsAddServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>addNewsScore</param-name>
    <param-value>10</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>NewsQueryServlet</display-name>
    <servlet-name>NewsQueryServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.NewsQueryServlet</servlet-class>
    <init-param>
      <param-name>pageSize</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsQueryServlet</servlet-name>
    <url-pattern>/NewsQueryServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>addNewsUnlimitedType</param-name>
    <param-value>exe,bat,js</param-value>
  </context-param>
  <context-param>
    <param-name>addNewsSize</param-name>
    <param-value>2</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>NewsDownloadServlet</display-name>
    <servlet-name>NewsDownloadServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.NewsDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsDownloadServlet</servlet-name>
    <url-pattern>/NewsDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUserScoreServlet</display-name>
    <servlet-name>CheckUserScoreServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.CheckUserScoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserScoreServlet</servlet-name>
    <url-pattern>/CheckUserScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentQueryServlet</display-name>
    <servlet-name>CommentQueryServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.CommentQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentQueryServlet</servlet-name>
    <url-pattern>/CommentQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentAddServlet</display-name>
    <servlet-name>CommentAddServlet</servlet-name>
    <servlet-class>com.neuedu.servlet.CommentAddServlet</servlet-class>
    <init-param>
      <param-name>addCommentScore</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentAddServlet</servlet-name>
    <url-pattern>/CommentAddServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.neuedu.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>charSet</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LoginCheckFilter</display-name>
    <filter-name>LoginCheckFilter</filter-name>
    <filter-class>com.neuedu.filter.LoginCheckFilter</filter-class>
    <init-param>
      <param-name>passPageList</param-name>
      <param-value>user_login.jsp,user_register.jsp,ckeditor.jsp,test_jsp.jsp,test_bean.jsp,test_bean_result.jsp,upload_multi.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginCheckFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>ContentReplaceFilter</display-name>
    <filter-name>ContentReplaceFilter</filter-name>
    <filter-class>com.neuedu.filter.ContentReplaceFilter</filter-class>
    <init-param>
      <param-name>wordItemList</param-name>
      <param-value>坏蛋:好蛋,法轮功:健身操</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ContentReplaceFilter</filter-name>
    <url-pattern>/CommentAddServlet</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.neuedu.Listener.TestListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.neuedu.Listener.OnlineListListener</listener-class>
  </listener>
</web-app>